{% extends "root/main/main.html" %}
{% block page_title %}{{ SUBJECT }}{% endblock %}
{% block content %}
{% load static %}
{% load template_simplify %}
{% load meme_extras %}
{% subject_on_page SUBJECT %}
<div style="padding-left: 1%;padding-right: 1%;padding-bottom: 2%">

    <!-- CONTAINER - 3 COLS -->
    <div class="row justify-content-center">
        <!-- COL 1 -->
        <div class="col-sm-2">
            {% left_col_draw %}
        </div>
        <!-- COL 2 -->
        <div class="col-md-6">
            <h2>New tube</h2>
            <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
{#              {{ form.as_p }}#}
                <!-- POST CARD -->
                <div class="card">
                    <!-- CARD HEADER -->
                    <div class="card-header">
                        <!-- POST TITLE -->
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup-sizing-default">{% open_iconic 'header' 24 'right' 0.4 %}</span></div>
                            {{ form.tube }}
                        </div>
                    </div>
                    <!-- END CARD HEADER -->
                    <!-- CARD BODY -->
                    <!-- POST TAGS -->
                    <div class="card-body">
{#                        <div class="input-group mb-3">#}
{#                            <div class="input-group-prepend">#}
{#                                <span class="input-group-text" id="inputGroup-sizing-default">#}
{#                                    <img style="height:22px;width:22px;margin-right: 0.3em;" src="{% static "/open-iconic-master/svg/tags.svg" %}" alt="tags" title="Tags"/>#}
{#                                </span>#}
{#                            </div>#}
{#                            {{ form.tags }}#}
{#                        </div>#}
                        <!-- POST TUBE -->
                        <ul class="list-group">
                            <li class="list-group-item">{% open_iconic 'lock-locked' 24 'right' 0.4 %} Is private?<div style="float: right">{{ form.is_private }}</div></li>
                            <li class="list-group-item">- when checked - only and tube members can see memes from it. Consider to invite somebody, after.</li>
                        </ul>
                    </div>
                    <!-- END CARD BODY -->
                    <button type="submit" class="save btn btn-default">Save</button>
                </div>
                <!-- END POST CARD -->
            </form>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
        <!-- COL 3 -->
        <div class="col-sm-2">
            {% right_col_draw %}
        </div>
    </div>
    <!-- END CONTAINER - 3 COLS -->
</div>
{% endblock %}